.pt-6
  padding-top 4rem

.pt-7
  padding-top 5rem

.pt-8
  padding-top 6rem

.pt-9
  padding-top 7rem

.pb-6
  padding-bottom 5rem

.pb-7
  padding-bottom 7rem

.pb-8
  padding-bottom 11rem

.pb-9
  padding-bottom 13rem

.pb-10
  padding-bottom 17rem

@media (min-width 576px)
  .pt-sm-6
    padding-top 4rem

  .pt-sm-7
    padding-top 5rem

  .pt-sm-8
    padding-top 6rem

  .pt-sm-9
    padding-top 7rem

  .pb-sm-6
    padding-bottom 5rem

  .pb-sm-7
    padding-bottom 7rem

  .pb-sm-8
    padding-bottom 11rem

  .pb-sm-9
    padding-bottom 13rem

  .pb-sm-10
    padding-bottom 17rem

@media (min-width 768px)
  .pt-md-6
    padding-top 4rem

  .pt-md-7
    padding-top 5rem

  .pt-md-8
    padding-top 6rem

  .pt-md-9
    padding-top 7rem

  .pb-md-6
    padding-bottom 5rem

  .pb-md-7
    padding-bottom 7rem

  .pb-md-8
    padding-bottom 11rem

  .pb-md-9
    padding-bottom 13rem

  .pb-md-10
    padding-bottom 17rem

@media (min-width 992px)
  .pt-lg-6
    padding-top 4rem

  .pt-lg-7
    padding-top 5rem

  .pt-lg-8
    padding-top 6rem

  .pt-lg-9
    padding-top 7rem

  .pb-lg-6
    padding-bottom 5rem

  .pb-lg-7
    padding-bottom 7rem

  .pb-lg-8
    padding-bottom 11rem

  .pb-lg-9
    padding-bottom 13rem

  .pb-lg-10
    padding-bottom 17rem

@media (min-width 1200px)
  .pt-xl-6
    padding-top 4rem

  .pt-xl-7
    padding-top 5rem

  .pt-xl-8
    padding-top 6rem

  .pt-xl-9
    padding-top 7rem

  .pb-xl-6
    padding-bottom 5rem

  .pb-xl-7
    padding-bottom 7rem

  .pb-xl-8
    padding-bottom 11rem

  .pb-xl-9
    padding-bottom 13rem

  .pb-xl-10
    padding-bottom 17rem