.w-40
  width 40%

.w-45
  width 45%

@media (min-width 768px)
  .w-md-100
    width 100% !important

  .w-md-50
    width 50% !important

  .w-md-45
    width 45% !important

  .w-md-40
    width 40% !important