<div class="container text-center mt-6 mb-5">
    <h5 class="mb-4">{{ 'index.contact.title'|trans }}</h5>
    <div class="d-flex d-flex justify-content-between w-50 m-auto text-left">
        <p class="w-40">{{ 'index.contact.text1'|trans }}</p>
        <p class="w-40">{{ 'index.contact.text2'|trans }}</p>
    </div>
</div>