<div class="bg-black text-white">
    <div class="container">
        <div class="pt-3 pb-3 text-center">
            <p style="font-size: 14px" class="pb-0 mb-0">© 2022 OSFL. Všechna práva vyhrazena.</p>
        </div>
    </div>
</div>